
  <ion-card>
    <ion-card-header>
      <ion-card-title>
          Drawing rectangle onto an image
      </ion-card-title>
    </ion-card-header>

    <!-- <ion-card-body> -->
    
      <!-- <div *ngIf="orgImg">
      <ion-img src="https://f1.media.brightcove.com/8/234507581/234507581_5106927173001_5106903722001-vs.jpg?pubId=234507581&videoId=5106903722001" 
      alt="car image"  style="height:400px" (ionImgDidLoad)="imageLoaded()" [height]="imgHeight"></ion-img>
    </div> -->
    <!-- <div id="ion-canva">
      <canvas #imageCanvas> 
       
      </canvas>
    
      <canvas #bufferCanvas>
     
      </canvas>
    </div> -->


    <!-- </ion-card-body> -->
  </ion-card>
