
<ion-header>
   <ion-toolbar>
       <ion-label>Test Filesystem plugin</ion-label>
   </ion-toolbar>
</ion-header>

<ion-content>
   <ion-list>
      <ion-item button (click)="processOp('mkdir')">
           <ion-label>Create directory</ion-label>
      </ion-item>

      <ion-item button (click)="processOp('readdirectory')">
         <ion-label>Read directory</ion-label>
    </ion-item>
      
      <!-- <ion-item>
        <ion-label></ion-label>
   </ion-item>

   <ion-item>
    <ion-label></ion-label>
   </ion-item>

<ion-item>
  <ion-label></ion-label>
</ion-item>

<ion-item>
  <ion-label></ion-label>
</ion-item> -->

   </ion-list>
</ion-content>